{% extends "arscanner/base.html" %}

{% block title %}Добавление объекта{% endblock title %}

{% block content %}
  <div class="container">
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'arscanner:appendcard' %}" method="POST">
      <div class="tile">
        <div class="tile is-parent">
          <div class="tile is-child">
            {% csrf_token %}
            {% for field in form %}
              <div class="field">
                  <label class="label">{{field.label_tag}}</label>
                  <div class="control">
                  {{field}}
                  </div>
              </div>
            {% endfor %}
          </div>
        </div>

        <div class="tile is-parent is-vertical">
          <div class="tile is-child">
            <div class="field">
              <label class="label">Медиа файл</label>
              <div class="control">
                <div class="select">
                  <select name="media">
                    {% for media in medias %}
                    <option value="{{ media.id }}">{{ media.title }}</option>
                    {% endfor %}
                    <option>Добавить файл</option>
                  </select>
                </div>
              </div>
            </div>
            
          </div>
          <!-- <div class="tile is-child">
            <div class="field">
              <label class="label">Марка</label>
              <div class="control">
                <div class="select">
                  <select name="media">
                    {% for media in medias %}
                    <option value="{{ media.id }}">{{ media.title }}</option>
                    {% endfor %}
                    <option>Добавить файл</option>
                  </select>
                </div>
                <figure class="image is-256x256">
                  <img src="https://bulma.io/images/placeholders/256x256.png">
                </figure>
              </div>
            </div>
          </div> -->

          <!-- SUBMIT BUTTON -->
          <div class="buttons">
            <input class="button is-link" type="submit">
          </div>
        </div>
      </div>
    </form>

  </div>
{% endblock content %}