{% extends "arscanner/base.html" %}

{% block title %}Список проектов{% endblock title %}

{% block content %}
<div class="container is-max-desktop" id="list_projects">
    <div class="is-flex is-justify-content-space-between is-align-content-center">
        <h3 class="title is-3">
            Projects
        </h3>
        <a href="{% url 'arscanner:appendcard' %}" class="button is-info is-light">
            <span class="icon">
                <!-- <i class="fas fa-plus"></i> -->
                <span class="material-icons">
                    add
                </span>
            </span>
            <span>New</span>
        </a>
    </div>
    <div class="field">
        <p class="control has-icons-left">
            <input class="input is-rounded" type="text" placeholder="Поиск">
            <span class="icon is-small is-left">
                <span class="material-icons">
                    search
                </span>
            </span>
            
        </p>
    </div>
    <div class="tags" id="filter-tags">
        <span class="tag is-info is-light">all</span>
        <span class="tag">video</span>
        <span class="tag">3D</span>
    </div>
    {% if latest_list %}
    <div class="columns is-multiline">
        {% for arobj in latest_list %}
            <div class="column is-one-third">
                <div class="box">
                    <p class="title is-4">
                        {{ arobj.title }}
                    </p>
                    <p class="subtitle is-6">
                        {% if arobj.description %}
                            {{ arobj.description }}
                        {% else %}
                            <br>
                        {% endif %}
                    </p>
                    <div class="is-flex is-justify-content-space-between is-align-content-center">
                        <span class="tag is-info is-light">{{ arobj.media.media_type.title }}</span>
                        <a class="material-icons" href="{% url 'arscanner:scanning' arobj.unique_id %}">
                            <span class="material-icons">
                                center_focus_weak
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock content %}

