{% extends "arscanner/base.html" %}

{% block title %}Список проектов{% endblock title %}

{% block content %}
    <div class="is-flex is-justify-content-space-between is-align-content-center">
        <h3 class="title is-3">
            Projects
        </h3>
        <a href="/" class="button is-info is-light">
            <span class="icon">
                <!-- <i class="fas fa-plus"></i> -->
                <span class="material-icons">
                    add
                </span>
            </span>
            <span>New</span>
        </a>
    </div>
    <!-- <div class="field has-addons">
        <div class="control">
            <input class="input" type="text" placeholder="Find a repository">
        </div>
        <div class="control">
            <a class="button is-info" href="{% url 'arscanner:appendcard' %}">
                Search
            </a>
        </div>
    </div> -->
    <div class="field">
        <p class="control has-icons-left">
            <input class="input is-rounded" type="text" placeholder="Поиск">
            <span class="icon is-small is-left">
                <span class="material-icons">
                    search
                </span>
            </span>
            
        </p>
    </div>
    <div class="columns is-multiline">
        <div class="column is-one-third">
            <div class="box">
                <p class="title is-4">
                    Проект
                </p>
                <p class="subtitle is-6">Видео проект</p>
                <div class="is-flex is-justify-content-space-between is-align-content-center">
                    <span class="tag is-info is-light">Info</span>
                    <span class="material-icons">
                        center_focus_weak
                        </span>
                </div>
            </div>
        </div>
        <div class="column is-one-third">
            <div class="box">
                <p class="title is-4">
                    Проект
                </p>
                <p class="subtitle is-6">Видео проект</p>
                <div class="is-flex is-justify-content-space-between is-align-content-center">
                    <span class="tag is-info is-light">Info</span>
                    <span class="material-icons">
                        center_focus_weak
                        </span>
                </div>
            </div>
        </div>
        <div class="column is-one-third">
            <div class="box">
                <p class="title is-4">
                    Проект
                </p>
                <p class="subtitle is-6">Видео проект</p>
                <div class="is-flex is-justify-content-space-between is-align-content-center">
                    <span class="tag is-info is-light">Info</span>
                    <span class="material-icons">
                        center_focus_weak
                        </span>
                </div>
            </div>
        </div>
        <div class="column is-one-third">
            <div class="box">
                <p class="title is-4">
                    Проект
                </p>
                <p class="subtitle is-6">Видео проект</p>
                <div class="is-flex is-justify-content-space-between is-align-content-center">
                    <span class="tag is-info is-light">Info</span>
                    <span class="material-icons">
                        center_focus_weak
                        </span>
                </div>
            </div>
        </div>
    </div>
    {% if latest_list %}
        {% for arobj in latest_list %}
        
        <div class="box">
            <div class="level">
                <div class="level-left spaced-block">
                    <div class="content">
                        <p class="title is-4">{{ arobj.title }}</p>
                        <p class="subtitle is-6">Видео проект</p>
                    </div>
                </div>
                <div class="level-rigth">
                    <div class="buttons">
                        <a class="button is-link" href="{% url 'arscanner:scanning' arobj.unique_id %}">Сканер</a>
                        <a class="button is-info is-outlined" href="{% url 'arscanner:details' arobj.unique_id %}">Описание</a>
                    </div>
                </div>
            </div>
            
        </div>
        {% endfor %}
    {% endif %}
{% endblock content %}

