.maincontent {
    display: grid;
    grid-template:
        "head"
        "main"
        "foot";
    grid-template-rows: max-content 1fr max-content;
    min-height: 100vh;
}

header {
    grid-area: head;
}

main {
    grid-area: main;
}

footer {
    grid-area: foot;
}

#filter-tags .tag:hover {
    cursor: pointer;
}

form .image {
    margin-top: 10px;
}

.image.is-256x256 {
    width: 256px;
    height: 256px;
}

#list_projects .subtitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}